<div style="background-color: #ffbfac;">
    <div class="container static-page">
        <div style="display: flex; width: 100%; justify-content: center; padding-top: 40px; flex-wrap: wrap;">
            <div style="width: 570px; margin: 0px auto 30px auto; text-align: center;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img1_5fdcc13d71fd3.jpeg" alt="cartes_cadeaux_img1"></div>
                <div style="width: 400px;">
                    <p style="margin: 10px 0px 20px 0px; color: black; text-align: justify; font-size: 26px; line-height: 30px; font-weight: bold;">Offrez une expérience unique !</p>
                    <p style="color: black; text-align: justify; font-size: 18px; line-height: 25px;">Découvrez les cartes cadeaux Neosilver et surprenez vos proches !</p>
                    <p style="color: black; text-align: justify; font-size: 18px; line-height: 25px;">Les cartes cadeaux Neosilver permettent de profiter de centaine d'activités variées, dispensées par des professionnels, en présentiel ou en ligne.</p>
                    <p style="color: black; text-align: justify; font-size: 18px; line-height: 25px;">Des <strong>activités créatives et artistiques</strong> (Dessin au Louvre ou en ligne, Poterie, Création de parfum, Cours de théâtre, de chant, ...), <strong>des activités culturelles</strong> (Cours de langue, Ateliers d'écriture, Visites, ...), et <strong>des activités de bien-être</strong> (Yoga, Sophrologie, Danse, ...).</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%; padding-top: 30px;">
    <p style="margin: 50px 0px -10px 0px; color: black; text-align: center; font-size: 26px; line-height: 30px; font-weight: bold;">Toujours pas trouvé de cadeaux ?</p>
    <br>
    <p style="color: black; text-align: center; font-size: 26px; line-height: 30px;">Profitez de -20% sur nos cartes cadeaux !</p>
    <div class="container static-page">
    <div class="margin-a" style="display: table; width: 100%;">
        <div class="col-md-4 kp_item"><a href="/listing/cba3a5wvy4r-carte-cadeau-25-euros"><img style="display: block; width: 350px; height: 200px; margin: 32px auto;" src="https://cdn.kreezalid.com/kreezalid/546837/files/993596/giftcarddiscount1.png" alt="cartes_cadeaux_icon1"></a></div>
        <div class="col-md-4 kp_item"><a href="/listing/bz4bzu8sduz-carte-cadeau-50-euros"><img style="display: block; width: 350px; height: 200px; margin: 32px auto;" src="https://cdn.kreezalid.com/kreezalid/546837/files/993596/giftcarddiscount2.png" alt="cartes_cadeaux_icon2"></a></div>
        <div class="col-md-4 kp_item"><a href="/listing/8ml52rd8bg-la-carte-cadeau-de-100-euros"><img style="display: block; width: 350px; height: 200px; margin: 32px auto;" src="https://cdn.kreezalid.com/kreezalid/546837/files/993596/giftcarddiscount3.png" alt="cartes_cadeaux_icon3"></div>
    </div>
    </div>
</div>

<div class="container static-page">
<div style="display: flex; width: 100%; justify-content: center; padding-top: 50px; flex-wrap: wrap;">
    <div style="width: 480px; height: 520px; margin: 0px auto 50px auto; padding: 25px; border: 1px solid lightgrey; border-radius: 5px;"><img style="width: 74%; margin: 0px 13% 20px 13%;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img2_5fdcc13d98340.jpeg" alt="cartes_cadeaux_img2">
    <p style="color: black; font-size: 20px; font-weight: bold;">Offrir une carte cadeau</p>
    <hr style="width: 80px; height: 2px; margin-left: 0px; background: black;">
    <p style="color: black; font-size: 16px;">Vous offrez un montant sous forme de carte cadeau pour être sûr.e de faire le bon choix.</p>
    <a style="cursor: default;" href="/listing/bz4bzu8sduz-carte-cadeau-50-euros"><button class="giftCardButton" style="margin-top: 20px;">Offrir</button></a></div>
    <div style="width: 480px; height: 520px; margin: 0px auto 50px auto; padding: 25px; border: 1px solid lightgrey; border-radius: 5px;"><img style="width: 74%; margin: 0px 13% 20px 13%;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img3_5fdcc13db9523.jpeg" alt="cartes_cadeaux_img3">
    <p style="color: black; font-size: 20px; font-weight: bold;">Offrir un atelier</p>
    <hr style="width: 80px; height: 2px; margin-left: 0px; background: black;">
    <p style="color: black; font-size: 16px;">Vous offrez un atelier en particulier. Votre proche choisira ses dates et son horaire avec notre équipe !</p>
    <a style="cursor: default;" href="/listing/search"><button class="giftCardButton" style="margin-top: 20px;">Offrir</button></a></div>
</div>
</div>

<div style="width: 100%;">
    <p style="margin: 50px 0px 20px 0px; color: black; text-align: center; font-size: 26px; line-height: 30px; font-weight: bold;">Des centaines d'expériences !</p>
    <br>
    <div style="display: flex; width: 100%; justify-content: center; flex-wrap: wrap; margin: auto auto 10%">
        <div class="giftExpImg" style="width: 200px; margin: 5px;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img4_5fdcc13dd5bab.jpeg" alt="cartes_cadeaux_img4"></div>
        <div class="giftExpImg" style="width: 200px; margin: 5px;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img5_5fdcc13def617.jpeg" alt="cartes_cadeaux_img5"></div>
        <div class="giftExpImg" style="width: 200px; margin: 5px;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img6_5fdcc13e1f7ad.jpeg" alt="cartes_cadeaux_img6"></div>
        <div class="giftExpImg" style="width: 200px; margin: 5px;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img7_5fdcc13e387f3.jpeg" alt="cartes_cadeaux_img7"></div>
        <div class="giftExpImg" style="width: 200px; margin: 5px;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img8_5fdcc13e522b6.jpeg" alt="cartes_cadeaux_img8"></div>
    </div>
    <!-- <div style="display: flex; width: 100%; justify-content: flex-start; padding-top: 30px; padding-bottom: 30px; flex-wrap: wrap; background-size: 100% 100%; background-repeat: no-repeat; background-image: url('https://cdn.kreezalid.com/kreezalid/546837/files/987794/illu_letre_neo.jpg'); align-items: center;"> -->
    <div style="display: flex; width: 100%; justify-content: flex-start; padding-top: 30px; padding-bottom: 30px; flex-wrap: wrap; background-color: #eaeced; align-items: center;">
       <!-- <div style="width: 180px; margin: 0px auto;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/993596/groupe_1403.png" alt="cartes_cadeaux_img9"></div> -->
       <!-- <div style="width: 100%; margin: 0px auto;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/illu_letre_neo.jpg" alt="cartes_cadeaux_img9"></div> -->
       <div class="divGreyBanner" style="width: 180px; margin: 0px 5% 0px auto;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img9_5fdcc13e687e3.png" alt="cartes_cadeaux_img9"></div>
        
        <div class="divTextGreyBanner" style="width: 380px; margin: 20px auto 0px 0px;">
            <h3 style="width: 350px; color: black !important; font-size: 30px; font-weight: bolder; font-family: SFMono-Regular, Menlo, Monaco,Consolas, Liberation Mono, Courier New, monospace; letter-spacing: 2px;">QUE VA RECEVOIR LE CHANCEUX ?</h3>
            <hr style="width: 100px; height: 3px; margin-left: 0px; background: black;">
            <p style="margin: auto; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Vous recevrez un mail avec le code de la carte cadeau ou l'atelier offert que vous pourrez imprimer ou transférer à l'heureux élu.</p>
        </div>
    </div>
    <div style="padding-top: 80px;">
        <p style="color: black; text-align: center; font-size: 26px; line-height: 30px; font-weight: bold;">Pour qui offrir une activité ?</p>
        <div style="display: flex; width: 100%; justify-content: center;"><img style="width: 700px; margin: 30px auto 0px auto;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img10_5fdcc13e83da4.png" alt="cartes_cadeaux_img10"></div>
    </div>
    <div style="width: 100%; padding-top: 60px;">
        <p style="color: black; text-align: center; font-size: 26px; line-height: 30px; font-weight: bold;">Pourquoi offrir un cours avec Neosilver ?</p>
        <div style="display: flex; width: 100%; justify-content: center; margin-top: 30px;">
        <div style="width: 500px; text-align: center;"><img style="width: 120px;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/160x160_icone_homepage_80.png" alt="icone_img1">
            <p style="color: black; font-size: 18px; line-height: 20px; font-weight: bold;">Toute la journée</p>
            <p>Trouvez et réservez en toute simplicité des ateliers ou des cours collectifs le matin ou l'après-midi.</p>
        </div>
        <div style="width: 500px; text-align: center;"><img style="width: 120px;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/160x160_icone_homepage_81_81.png" alt="icone_img2">
            <p style="color: black; font-size: 18px; line-height: 20px; font-weight: bold;">Petit prix</p>
            <p>Faites jusqu'à 50% d'économies en réservant un cours chez nos partenaires durant les heures creuses.</p>
        </div>
    </div>
    </div>
    <div style="width: 100%;">
        <div style="display: flex; width: 100%; justify-content: center;">
            <div style="width: 500px; text-align: center;"><img style="width: 120px;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/160x160_qui_sommes_nous_76.png" alt="icone_img3">
                <p style="color: black; font-size: 18px; line-height: 20px; font-weight: bold;">De qualité</p>
                <p>Des activités collectives encadrées par des professionnels qualifiés et à l'écoute.</p>
            </div>
            <div style="width: 500px; text-align: center;"><img style="width: 120px;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/160x160_icone_homepage_79.png" alt="icone_img4">
                <p style="color: black; font-size: 18px; line-height: 20px; font-weight: bold;">A la carte</p>
                <p>Trouvez et testez de nouvelles activités avec ou sans abonnement.</p>
            </div>
        </div>
    </div>
    <div style="width: 100%; margin-top: 60px; padding: 10px 0px; background-color: #163294;">
        <div style="display: flex; width: 100%; justify-content: center; margin: 0px auto; padding: 20px 100px; flex-wrap: wrap; border-radius: 5px; background-color: white;">
            <div style="width: 250px; margin: 10px 10% 10px 40px; text-align: center;"><img src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/cartes_cadeaux_img11_5fdcc13e974f4.png" alt="cartes_cadeaux_img11"></div>
            <div style="width: 370px; margin: 20px 0px;">
                <p style="color: #163294; text-align: center; font-size: 30px; line-height: 30px; font-weight: bold;">VOUS AVEZ REÇU UN BON CADEAU ?</p>
                <p style="color: #163294;">Sélectionnez l'activité de votre choix et utilisez votre code de réduction sur le site Neosilver !</p>
                <a style="cursor: default;" href="/listing/search"><button class="giftCardButton" style="width: 280px; margin-top: 30px; text-align: center; font-weight: bold;">Je choisis mon activité</button></a></div>
            </div>
        </div>
        <hr>
        <div class="container static-page">
        <div class="margin-a fonctionnement-box" style="display: table; width: 100%; margin-bottom: 50px;">
            <div class="col-md-4 kp_item"><img style="display: block; width: 105px; height: 101px; margin: 0px auto;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/160x160_icons_comment_ca_marche_72.png" alt="comment_ca_marche_img1">
                <p style="margin-top: 8px; text-align: center;"><strong>Posez vos questions</strong><br><a href="mailto:contact@neosilver.fr">contact@neosilver.fr</a></p>
            </div>
            <div class="col-md-4 kp_item" style="text-align: center;"><img style="display: block; width: 101px; height: 100px; margin: 0px auto;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/160x160_icons_comment_ca_marche_68.png" alt="comment_ca_marche_img2">
                <p style="margin-top: 8px; text-align: center;"><strong>Appelez nous au</strong><br><a href="tel:+33980804313">09.80.80.43.13</a></p>
            </div>
            <div class="col-md-4 kp_item"><img style="display: block; width: 104px; height: 100px; margin: 0px auto;" src="https://cdn.kreezalid.com/kreezalid/546837/files/987794/160x160_icons_comment_ca_marche_70.png" alt="comment_ca_marche_img3">
                <p style="margin-top: 8px; text-align: center;"><strong>Consultez notre</strong><br><a href="/faq">foire au questions</a></p>
            </div>
        </div>
    </div>
</div>