@media screen and (max-width: 640px) {
    .SEO {
        margin: auto !important;
        width: 80% !important;
    }
}

h1,
h3,
h4,
h5,
h6,
body {
    color: darkslategray !important
}

.feat_item h2 {
    color: white !important
}

.home-banner-content {
    padding: 16px 0 !important;
}

.hero-container .container {
    position: absolute;
    left: 10%;
    min-width: 300px;
    width: auto;
}

.row.text-center.home-search-wrapper {
    margin: 0;
}

.form-control {
    font-size: inherit !important;
}

@media screen and (max-width: 640px) {
    .pdfPresse {
        height: auto !important;
    }
}

.divYT {
    width: 50%;
    height: 320px;
}

.ulCarteCadeau {
    margin-left: 25%;
    width: 50%;
}

.cadeauDescription {
    display: table;
    width: 50%;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

@media screen and (max-width: 640px) {
    .cadeauDescription {
        width: 90%;
    }
    .ulCarteCadeau {
        margin-left: 5%;
        width: 90%;
    }
    .divYT {
        width: 100%;
        height: 320px;
    }
}

#cms-page-3qxjd3iycj .cms-page-content {
    width: 100%;
    margin-left: 0%;
}

#cms-page-8ywc67mo5c .cms-page-content {
    width: 100%;
    margin-left: 0%
}

figure.hover--effect figcaption {
    padding: 3em 3.5em
}

.navbar-collapse.in .top_bar_menu .container.clear_menu .navbar-brand.number,
.navbar-collapse.collapsing .top_bar_menu .container.clear_menu .navbar-brand.number,
.listing-attribut-moment_de_la_journee,
.listing-attribut-conf_link,
.listing-attribut-exclusivite,
#cms-page-8tr9gd2n0p .page-header,
#cms-page-8ywc67mo5c .page-header,
.listing-attribut-lieu_proposes {
    display: none
}

#cat-id {
    font-size: inherit;
    border-radius: 12px;
}

#cms-page-4rdxmawjmg {
    padding-bottom: 0;
}

nav .navbar-brand.hidden-xs.hidden-sm img {
    min-height: 40px !important;
    min-width: 110px
}

.home-banner-content {
    margin: auto;
    float: none;
    padding: 32px 0;
    border-radius: 16px
}

.home-search {
    width: 33% !important;
    margin-left: 0%;
    display: block !important;
    min-width: 400px;
    padding-left: 0
}

@media (max-width: 530px) {
    .home-search {
        width: 90% !important;
        margin-left: 0%;
        display: block !important;
        padding-left: 0;
        min-width: unset;
    }
}

.welcome-message h2 {
    width: 90%;
    text-align: center;
    margin: auto;
    color: white;
    padding-bottom: 32px;
}

#cms-page-t4jwwe65xm,
#cms-page-5m6726ihlo,
#cms-page-8ywc67mo5c {
    background-color: whitesmoke !important;
}

.Valeur-QSM {
    margin: 24px 0;
}

.div-CCM h1 {
    margin-bottom: 32px;
}

.CCM {
    margin-top: 32px;
}

.Team-pres {
    display: flex;
    margin-bottom: 64px;
    flex-wrap: wrap;
}

.Team-pres .col-sm-4 img {
    max-height: 350px
}

@media screen and (max-width: 770px) {
    .Team-pres .col-sm-4 {
        margin: auto
    }
    .Team-pres .col-sm-4 img {
        border-radius: 64px
    }
    .Team-pres .col-sm-4 a img {
        border-radius: 0;
        float: unset !important;
    }
    .Team-pres .col-sm-4 a {
        text-align: center
    }
}

#cms-page-t4jwwe65xm .page-header,
#cms-page-5m6726ihlo .page-header {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black
}

.product_event_dates.spec_options {
    display: block;
}

.features_cat_img {
    max-height: 193.383px;
    height: 100% !important
}

.spec_options {
    display: none
}

body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.popover,
.tooltip,
h1,
h2,
h3,
h4,
h5,
h6,
.cbp-hrmenu ul {
    font-family: Helvetica;
}

footer {
    line-height: 1.3;
}

#comp-jvtdl7lh h2,
.home_featured_collection .section-header h2 {
    margin-top: 0 !important
}

body,
.home_featured_collection h2,
.home_about_you h2,
.section_perso h3 {
    color: darkslategray;
}

.navbar-header {
    min-height: 75px;
}

#logoLinkMobile img {
    min-width: 150px;
}

header {
    z-index: 1000;
}

#menu-item-30835 .dropdown-toggle:after,
.user_account_menu .dropdown-toggle:after {
    content: "\25be";
    display: inline-block;
    float: none;
    font-family: "Material Icons";
    margin-left: 3px;
    vertical-align: top;
    box-sizing: inherit;
}

#menu-item-30835 li a {
    color: #000 !important
}

.navbar-right .dropdown-menu {
    right: auto !important;
}

.home_about_you a {
    margin-top: 16px;
}

.btn-clone-listing {
    font-size: 13px;
    border-radius: 60px;
    line-height: 1.5;
    padding: 2px 10px;
    display: block;
}

.vendor_kyc_alert {
    display: block;
    top: 0 !important;
    margin-top: 65px;
}

.navbar-brand>img {
    margin-top: 0
}

.listing_description {
    padding-bottom: 0px
}

.bold {
    font-weight: bold;
    font-size: larger
}

.width-80 {
    width: 80%
}

.width-70 {
    width: 70%
}

.margin-a {
    margin: auto
}

.block {
    display: block
}

.btn,
.label {
    color: white !important;
    background-color: #003466 !important;
    border-color: #003466 !important
}

button {
    color: white !important;
    background-color: #FFBD2E !important;
    border-color: #FFBD2E !important
}

footer {
    color: white !important;
    background-color: #003466 !important;
    border-color: #8ea9db !important
}

button:hover {
    color: white !important;
    background-color: #E1A014 !important;
    border-color: #E1A014 !important
}

.btn:hover {
    background-color: #8ea9db !important;
    border-color: #8ea9db !important;
}

.contact-us .wh-part-head {
    background-color: #8ea9db !important
}

.backtotop {
    color: white !important;
    background-color: #2e5496 !important;
    border-color: #2e5496 !important
}

.section_icon {
    background-color: white;
    border-radius: 16px;
    display: table !important;
    margin: auto;
}

.btnPro:hover {
    background-color: #E1A014 !important;
    border-color: #E1A014 !important
}

.btnPro {
    background-color: #FFBD2E;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
}

.listing_description {
    background-color: whitesmoke;
    font-size: large;
    text-align: 'center'
}

.btnPro:hover {
    background-color: #2e5496;
    color: white;
    text-decoration: none
}

.attribute-box .listing_attr_title {
    text-transform: none;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.5em !important;
}

.attribute-box-content h3::after {
    content: "";
    width: 65px;
    height: 2px;
    background: #000;
    display: block;
    margin: 20px auto;
}

.user-attributes-grid,
.listing-attributes-grid {
    column-count: 1 !important;
    column-gap: 0;
}

.list_row a:hover,
.results_list_item a:hover {
    text-decoration: none
}

.list_row {
    justify-content: center;
}

.list_item {
    min-width: calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin: 10px 10px !important;
}

@media only screen and (max-width: 900px) {
    .poster {
        bottom: 100px;
        /*            height: 300px;
/*            width: 500px*/
    }
    .homepage-hero-module {
        height: 10px
    }
}

@media screen and (max-width: 640px) {
    .list_item {
        margin: 10px 10px !important;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .list_item {
        min-width: calc(45% - 35px)!important;
        width: 40% !important;
        max-width: calc(45% - 35px)!important;
    }
}

@media screen and (max-width: 720px) {
    .home-banner-content {
        margin-top: -1px;
        position: absolute;
        z-index: -2;
        display: block!important;
        height: 100%;
        width: 100%;
    }
}

.col-md-12.home-banner-content {
    position: relative;
    z-index: 2;
}

.home-banner-content h1 {
    margin-bottom: 7px;
    margin-right: 634px;
}

.home-banner-content h2 {
    margin: 0px 0px 345px -259px;
    color: darkslategray !important;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        width: 30%
    }
}

.ul-CCM {
    margin-left: 15%;
}

@media screen and (max-width: 1000px) {
    .ul-CCM {
        margin-left: 0;
    }
}

.results_list_item {
    margin-top: 15px;
    padding: 1px;
}

.kp_item:hover,
.list_item:hover,
.results_list_item:hover,
.box-item:hover {
    transform: scale(1.1);
    z-index: 0;
    transition-duration: .5s;
}

.kp_item p {
    font-size: 17px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.home_featured_collection {
    background-color: #EFF5F3
}

.edito_img {
    position: initial !important;
}

.checkout p,
.checkout #message,
.top_search_cta,
.listing-attribut-duree_de_l_activite,
.listing-attribut-niveau_requis,
#headerMainSearchForm,
.result_subcategory_list,
#cms-page-4rdxmawjmg .page-header,
.listing-attribut-description_professeur .listing_attr_title,
.listing-attribut-duree_de_l_activite,
#cms-page-3gkec2nbeh .page-header,
.listing-attribut-niveau_requis_2,
.hour,
.minute,
.second,
.meridian,
.registerPro .text,
.listing-attribut-code_postal,
.listing-attribut-type_d_offre,
.listing-attribut-nombre_d_activitee,
.listing-attribut-duree_de_l_abonnement,
.listing-attribut-duree_du_stage,
#booking-summary-sidebar,
#moment_de_la_journee-input-div {
    display: none !important
}

.registerPro .text.required {
    display: block !important
}

.checkout .order-info,
.top_search_cta {
    border: none
}

.product_price .price_unit {
    display: none
}

.product_price {
    text-align: right;
    margin-top: -20px
}

.product_price .listing-original-price {
    color: #E0DAD8;
    font-size: 100%
}

.home_featured_listings .container {
    border-top: solid 1px rgb(111, 111, 111)
}

.home_featured_listings {
    padding-top: 0 !important
}

.navbar-brand>img {
    margin-top: 0
}

.card {
    height: 100%;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1)
}

.listing-attributes-grid {
    display: content
}

.top_bar_menu,
.home-banner-content,
.narrow_pad,
.single_date_booking {
    font-size: larger !important
}

.narrow_pad button,
.add-to-cart {
    font-size: inherit !important
}

.home_featured_collection h2,
.home_featured_listings h2,
.add-to-cart,
.listing_description h2,
.feat_item h2 {
    text-transform: none !important;
    letter-spacing: 0px !important;
    word-spacing: 0px !important
}

.narrow_pad:not(:last-child) {
    box-shadow: 2px 2px 3px rgba(211, 220, 222, 1);
    margin-left: 8px;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    width: 100% !important;
    margin-bottom: 8px;
}

.narrow_pad:not(:last-child) select {
    border-radius: 12px;
    overflow: hidden;
}

.narrow_pad.submit__search {
    width: 100% !important;
}

.narrow_pad button {
    box-shadow: 2px 2px 3px rgba(211, 220, 222, 1);
    margin-left: 8px;
    border-radius: 12px;
    width: 100%;
}

.listing_detail_list_prof,
.listing-description,
.listing-attributes-grid .attribute-box {
    background-color: white;
    border-radius: 16px;
    padding: 8px 24px;
    margin-bottom: 24px;
}

.listing-attribut-video .attribute-box-content a {
    display: none;
}

.listing-attributes-grid .attribute-box {
    width: 100%
}

.section_desc {
    text-align: justify
}

figure.hover--effect.effect-1 h2 {
    padding-top: 0;
    margin-top: 26%;
    background-color: rgba(0, 0, 0, 0.3);
}

figure.hover--effect figcaption {
    z-index: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 42;
}

#menu-item-31448 a,
#menu-item-31449 a,
#menu-item-31450 a {
    color: slategray !important
}

#menu-item-31448 a:hover,
#menu-item-31449 a:hover,
#menu-item-31450 a:hover {
    color: #003466 !important
}

.main-content {
    margin-top: 107px;
}

@media screen and (min-width: 1137px) and (max-width: 1199px) {
    .main-content {
        margin-top: 169px;
    }
}

@media screen and (min-width: 994px) and (max-width: 1136px) {
    .main-content {
        margin-top: 202px;
    }
}

@media screen and (max-width: 993px) {
    .main-content {
        margin-top: 75px;
    }
}

#form_listing_filter div input,
#form_listing_filter div button {
    border-radius: 12px;
}

.CGU h2,
.Mentions h2 {
    padding-left: 32px;
    border-left: 3px solid #8ea9db
}

.site-footer .social {
    margin-top: 0px !important
}

.footer_menu_nav {
    display: none;
}

.site-footer.section-spacing {
    padding: 1.5em 0;
}

.cadeau ul {
    padding-left: 64px;
}

.cadeau-box,
.cadeau .wh-part-head,
.div-CCM,
.Valeur-QSM,
.Team-pres {
    border-bottom: 2px solid #EEE;
    background-color: white;
    border-radius: 16px;
    padding: 16px 0;
    margin: 8px 0;
}

.Valeur-QSM.col-md-12 {
    display: flex;
}

.Valeur-QSM.col-md-12 .col-md-3 {
    margin: auto
}

@media screen and (max-width: 1000px) {
    .Valeur-QSM.col-md-12 {
        display: block
    }
}

.cadeau .wh-part-head {
    text-align: center;
}

.wh-part-head {
    border: thick double #003466;
}

.cadeau .wh-part {
    background-color: rgb(249, 249, 249) !important
}

a.add-to-favorite,
.selected-filter {
    margin: 8px auto
}

.brand_mention {
    display: none
}

.hour,
.minute {
    display: inline-block !important
}

.selected-filter span,
.selected-filter a {
    color: white !important;
    font-size: large;
    background-color: #2e5496 !important;
    border: none !important;
}

.filter_title,
.noUi-connect {
    background-color: #2e5496 !important;
}

.noUi-handle,
.noUi-handle-upper {
    border-color: #2e5496 !important;
}

#back-top {
    right: none;
    left: 1%
}

.videoyt {
    margin: auto
}

#cbp-hrmenu {
    background-color: #ffffff;
}

.cbp-hrmenu,
.cbp-hrmenu ul {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
    text-align: center;
    color: black;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

ul.mega_menu li {
    font-weight: 500;
    font-size: 13px;
    margin-left: 16px;
    color: #003466;
    text-decoration: none;
    background-image: linear-gradient(#003466, #003466);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

ul.mega_menu li:hover,
ul.mega_menu li:focus {
    background-size: 100% 2px;
}


/*li.nav_item_user_login {
	color: red;
	font-weight: 600;

}*/

#homepageDiv {
    display: flex;
    position: absolute;
    width: auto;
    left: 10%;
    top: calc(3% - 50px);
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    min-width: 400px;
}

@media (max-width: 767px) {
    #homepageDiv h1 {
        margin-top: 0px;
        font-size: 2em;
    }
    #homepageDiv {
        margin-top: 100px
    }
}

@media (max-width: 530px) {
    #homepageDiv {
        min-width: unset;
        width: 80%;
    }
}

#homepageTitle1 {
    color: #f7a58e;
    font-size: calc(12px + 0.8vw);
    font-weight: bold;
    letter-spacing: 2px;
}

#homepageTitle2 {
    margin-left: 5%;
    color: #003468 !important;
    font-size: calc(16px + 1.8vw);
    font-weight: bold;
    letter-spacing: 3px;
}

#homepageSubtitle {
    margin-left: 5%;
    color: #024987;
    font-size: calc(10px + 0.3vw);
    font-family: Verdana, sans-serif;
    text-align: left;
}

@media screen and (min-width: 750px) {
    #homepageDiv {
        top: 3%;
    }
}

@media screen and (min-width: 766px) {
    #homepageDiv {
        top: 3%;
    }
}

.giftCardButton {
    display: flex;
    width: 120px;
    height: 45px;
    margin: 0px auto;
    padding: 8px !important;
    background-color: #163294 !important;
    border-style: none !important;
    border-radius: 3px;
    font-weight: bold;
    justify-content: center;
}

.giftCardButton:hover {
    background-color: #ffbfac !important;
    border: none !important;
}

a:hover {
    text-decoration: none;
}

#firstBanner {
    position: absolute;
    height: 820px;
    width: 100%;
    background-color: #ffbfac;
}

#secondBanner {
    position: absolute;
    width: 100%;
    height: 700px;
    margin-top: 3180px;
    background-color: #eaeced;
}

#thirdBanner {
    position: absolute;
    width: 100%;
    height: 535px;
    margin-top: 4885px;
    background-color: #163294;
}

@media screen and (min-width: 360px) {
    #thirdBanner {
        height: 480px;
        margin-top: 4930px;
    }
}

@media screen and (min-width: 430px) {
    #thirdBanner {
        height: 550px;
        margin-top: 4880px;
    }
}

@media screen and (min-width: 500px) {
    #thirdBanner {
        height: 600px;
    }
}

@media screen and (min-width: 570px) {
    #firstBanner {
        height: 820px;
    }
}

@media screen and (min-width: 580px) {
    #firstBanner {
        height: 900px;
    }
}

@media screen and (min-width: 620px) {
    #secondBanner {
        height: 460px;
        margin-top: 3280px;
    }
    #thirdBanner {
        height: 580px;
        margin-top: 4680px;
    }
}

@media screen and (min-width: 650px) {
    #firstBanner {
        height: 930px;
    }
}

@media screen and (min-width: 660px) {
    #thirdBanner {
        height: 600px;
        margin-top: 4730px;
    }
}

@media screen and (min-width: 992px) {
    #secondBanner {
        height: 460px;
        margin-top: 2860px;
    }
    #thirdBanner {
        height: 530px;
        margin-top: 4345px;
    }
}

@media screen and (min-width: 1200px) {
    #firstBanner {
        height: 505px;
    }
    #secondBanner {
        height: 460px;
        margin-top: 1925px;
    }
    #thirdBanner {
        height: 294px;
        margin-top: 3408px;
    }
}

.our-box-section.spacing-section {
    position: relative;
    margin-bottom: -50px;
}

.our-box-section {
    background-color: white;
}

@media (min-width: 768px) {
    .our_box_section .container {
        display: block;
    }
}

.row-box {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 992px) {
    .format-box {
        margin-left: -1px;
        margin-bottom: 15px;
    }
}

.box-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
}

.box-item {
    min-width: calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-left: 15px;
    -ms-flex: 1;
    flex: 1;
    margin-top: 15px;
    padding: 1px;
}

@media (min-width: 992px) {
    .our-box-text {
        padding-right: 30px;
    }
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.collapsible {
    background-color: none;
    color: black !important;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
}

.collapsible:hover {
    cursor: pointer;
}

.active,
.collapsible:hover {
    background-color: white;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
}

.glyphicon {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.carousel-img {
    width: 99vw;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

#listDays>* {
    margin-right: 5px;
}

#lundi_debut-input-div,
#lundi_fin-input-div,
#mardi_debut-input-div,
#mardi_fin-input-div,
#mercredi_debut-input-div,
#mercredi_fin-input-div,
#jeudi_debut-input-div,
#jeudi_fin-input-div,
#vendredi_debut-input-div,
#vendredi_fin-input-div,
#samedi_debut-input-div,
#samedi_fin-input-div,
#dimanche_debut-input-div,
#dimanche_fin-input-div {
    display: none;
}

.listing-attribut-lundi_debut,
.listing-attribut-lundi_fin,
.listing-attribut-mardi_debut,
.listing-attribut-mardi_fin,
.listing-attribut-mercredi_debut,
.listing-attribut-mercredi_fin,
.listing-attribut-jeudi_debut,
.listing-attribut-jeudi_fin,
.listing-attribut-vendredi_debut,
.listing-attribut-vendredi_fin,
.listing-attribut-samedi_debut,
.listing-attribut-samedi_fin,
.listing-attribut-dimanche_debut,
.listing-attribut-dimanche_fin {
    display: none;
}

.toast {
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.toast:not(.showing):not(.show) {
    opacity: 0
}

.toast.hide {
    display: none
}

.toast-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    pointer-events: none
}

.toast-container>:not(:last-child) {
    margin-bottom: .75rem
}

.toast-header {
    display: flex;
    align-items: center;
    padding: .5rem .75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.toast-header .btn-close {
    margin-right: -.375rem;
    margin-left: .75rem
}

.toast-body {
    padding: .75rem;
    word-wrap: break-word
}

.articleSection iframe {
	display: block !important;
	margin: auto;
}

@media screen and (max-width: 606px) {
    .divGreyBanner {
        width: 180px !important;
        margin: auto !important;
    }
    .divTextGreyBanner {
        width: 380px !important;
        margin: auto !important;
    }
}